<div style="background: url(https://c0.wallpaperflare.com/path/977/94/466/equipment-illustration-letter-message-646c735591b07dfb0d0ab0523a1559f8.jpg);background-size: contain;height: 85vh;">
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="card align-items-center" style="width: 28rem;height: 57rem; background-color:
                                    rgba(52, 52, 255, 0.178);">
                                    <img height="auto" width="auto"
                                        [src]="contact.photo"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Name: {{contact.name}}</h5>
                                        <p class="card-text">ID: {{contact.id}} </p>
                                        <p class="card-text">Mobile: {{contact.mobile}} </p>
                                        <p class="card-text">Email: {{contact.email}} </p>
                                        <p class="card-text">Company: {{contact.company}} </p>
                                        <p class="card-text">Title: {{contact.title}} </p>
                                        <p class="card-text">Group ID: {{group}} </p>
                                    </div>
                                </div>
    </div>
</div>